div {
    background-color: rgb(203, 233, 237);
    width: 800px;
    border: 10px solid rgb(7, 45, 71);
    padding: 50px;
    margin: 10px;
  }

  h1{
    padding: 10px;
    color: rgb(255, 0, 123);
  }