<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body>
    <h1>USING EXPRESS</h1>
    <div>
        <h2>Express App</h2>
        <img src="/static/pinkflowers.jpeg">
    </div>
    
</body>
</html>